absl-py 
altair 
appnope 
argon2-cffi 
argon2-cffi-bindings 
astunparse 
async-generator 
attrs 
backcall 
backports.functools-lru-cache 
backports.zoneinfo 
beautifulsoup4 
bleach 
blinker 
blis 
cached-property 
cachetools 
catalogue 
certifi 
cffi 
charset-normalizer 
click 
commonmark 
cryptography 
cycler 
cymem 
debugpy 
decorator 
defusedxml 
dill 
ediblepickle 
entrypoints 
et-xmlfile 
fastjsonschema  
flatbuffers 
fonttools 
gast 
gitdb 
GitPython 
google-auth 
google-auth-oauthlib 
google-pasta 
grpcio 
h11 
h5py 
haversine 
idna 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
joblib 
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
kaleido 
keras 
Keras-Preprocessing 
kiwisolver 
langcodes 
libclang 
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe 
mistune 
murmurhash 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk 
notebook 
numpy 
oauthlib 
openpyxl 
opt-einsum 
outcome 
packaging 
pandas 
pandocfilters 
parso 
pathy 
pexpect 
pickleshare 
Pillow 
pip 
plotly 
preshed 
prometheus-client 
prompt-toolkit 
protobuf 
psutil 
ptyprocess 
pyarrow 
pyasn1 
pyasn1-modules 
pycodestyle 
pycparser 
pydantic 
pydeck 
pyflakes 
Pygments 
Pympler 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
python-dateutil 
pytz 
pytz-deprecation-shim 
pyzmq 
regex 
requests 
requests-oauthlib 
rich 
rsa 
scikit-learn 
scipy 
seaborn 
selenium 
semver 
Send2Trash 
setuptools 
six 
sklearn 
smart-open 
smmap 
sniffio 
sortedcontainers 
soupsieve 
spacy 
spacy-legacy 
spacy-loggers 
srsly 
streamlit 
tenacity 
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
tensorflow 
tensorflow-io-gcs-filesystem 
termcolor 
terminado 
tf-estimator-nightly 
thinc 
threadpoolctl 
tinycss2 
toml 
toolz 
tornado 
tqdm 
traitlets 
trio 
trio-websocket 
typer 
typing_extensions 
tzdata 
tzlocal 
urllib3 
validators 
wasabi 
wcwidth 
webdriver-manager 
webencodings 
Werkzeug 
wheel 
widgetsnbextension 
wrapt 
wsproto 
xgboost 
zipp 
